<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ресторан</title>

    <!-- Bootstrap -->
    <link href="https://bootswatch.com/3/united/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ресторан</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Басты бет</a></li>
                <li><a href="{% url 'bron' %}">Үстел брондау</a></li>
                <li><a href="{% url 'menu' %}1/">Мәзір</a></li>
                <li><a href="{% url 'about' %}">Жоба жайлы</a></li>
                <li>
                    <a href="{% url 'cart' %}">
                        <img style="width:20px;" src="http://cdn.onlinewebfonts.com/svg/img_208967.png" alt="cart">
                        <span>{{ inCart }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{# dont need block#}
<div id="menu-content" class="container">
    <h1 class="text-center">Мәзір</h1>
    <h3 class="center-block fa-align-center text-center">{{ product }} {{ cartmsg }}</h3>
    <h3 class="center-block fa-align-center text-center">
        {% if in_sebet %}
            {% for foo in all_in_sebet_food %}
                {{ foo.aty }}
            {% endfor %}


        {% endif %}
    </h3>
    <div class="catalog-box">
        <a href="{% url 'menu' %}1/">Ыстық тамақтар</a>
        <a href="{% url 'menu' %}2/">Салаттар</a>
        <a href="{% url 'menu' %}3/">Сорпалар</a>
        <a href="{% url 'menu' %}4/">Тауық етінен</a>
        <a href="{% url 'menu' %}5/">Етпен жасаған</a>
        <a href="{% url 'menu' %}6/">Гарнирлер</a>
        <a href="{% url 'menu' %}7/">Десерттер</a>
    </div>
</div>


<div id="content" class="container">
    <div class="row">
        {% block fooddetail %}
        {% for foo in tamaq %}
        <div class="col-md-3">
            <div class="item-menu">
                <img src="{{ MEDIA_URL }}{{ foo.suret }}">
                <h3>{{ foo.aty }}</h3>
                <p>Салмағы: {{ foo.salmagi }} гр</p>
                <h2>{{ foo.baga }} теңге</h2>
                {% block sebet %}
                    <form action="{% url 'cart' %}" method="post">
                    <input class="form-control hidden" type="text" name="tamaq" value="{{ foo.aty }}">
                    <button class="btn btn-info btn-block btn-xs" type="submit">Себетке қосу</button>
                    {% csrf_token %}</form>
                {% endblock %}
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>